/*
.insigh__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.insigh__container__box {
    position: relative;
    width: 2vw;
    height: 3vw;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1200px) rotateY(0deg);
    }

    100% {
        transform: perspective(1200px) rotateY(360deg);
    }

}

.insigh__container__box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 12vw;
    height: 4vw;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotatey(calc(var(--i) * 45deg)) translateZ(500px);
    -webkit-box-reflect: below 1.5vw linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}


.insigh__container__box .span__p {
    position: absolute;
    bottom: 0;
    font-size: .8vw;
    color: white;
    text-align: center;
    background: #000000;
    padding: .1vw;
    border-radius: 1vw;
}

/* .insigh__container__box span p:hover {
    animation: img 0.2s linear;
}

@keyframes img {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(10deg);
    }
} */



.insigh__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    /* width: 100%; */
    /* height: 100%; */
}



.insigh__container__box {
    /* position: relative; */
    width: 20vw;
    /* Zwiększyłem szerokość kontenera */
    height: 20vw;
    /* Zwiększyłem wysokość kontenera */
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1200px) rotateY(0deg);
    }

    100% {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.insigh__container__box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 14vw;
    height: 4vw;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotatey(calc(var(--i) * 36deg)) translateZ(26vw);
    /* Zmieniłem wartości dla większej symetrii */
    -webkit-box-reflect: below 1.5vw linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.insigh__container__box .span__p {
    position: absolute;
    bottom: 0;
    font-size: 1vw;
    color: white;
    text-align: center;
    background: #000000;
    padding: 0.3vw 0.5vw;
    border-radius: 1vw;
}