.cardsnew {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    /* min-height: 100vh; */
}

.cardsnew h1 {
    font-size: 3vw;
    text-align: center;
    padding: 2vh 0;
    color: rgb(17, 11, 100);
}

.cardsnew__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 960px) {
    .cardsnew {
        padding: 1vh 0;
    }

    .cardsnew h1 {
        font-size: 5.5vw;
        padding: 1vh 0;
    }

}