.titles {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.titles__title {
    position: relative;
    font-size: 6vw;
    -webkit-text-stroke: .1vw rgba(0, 0, 0, .5);
    color: transparent;
    text-transform: uppercase;
}

.titles__title-anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    font-size: 6vw;
    text-transform: uppercase;
    color: rgb(236, 207, 43);
    overflow: hidden;
}

.expand {
    animation: expand 3s linear;
}

.contract {
    animation: contract 3s linear;
}

@keyframes expand {

    10%,
    80% {
        width: 0%;
    }

    40% {
        width: 105%;
    }
}

@keyframes contract {

    10%,
    80% {
        width: 0%;
    }

    40% {
        width: 105%;
    }
}