.answers_test {
    flex-grow: 1;
    min-height: 50%;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.answers_test-item {
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    margin: 5px 0;
    padding: 5px 10px;
    border: 2px solid #000;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {

    .answers_test-item {
        font-size: 1.2rem;
        padding: 10px;

    }
}

@media screen and (max-width: 360px) {

    .answers_test-item {
        font-size: 1rem;
        padding: 5px;

    }
}