.collection_name {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    user-select: none;
}

.collection_name-title {
    flex-grow: 1;
    font-size: 1.2rem;
}

.collection_name-button {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 1rem;
    margin: 0 10px;
    background: rgb(251, 221, 54);
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}

.collection_name-button--test {
    background: rgb(71, 239, 91);
}

.collection_name__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
}

.collection_name__loading-icon {
    margin-top: 10px;
    font-size: 1.8rem;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@media screen and (max-width: 360px) {

    .collection_name-title {
        font-size: 1rem;
    }

    .collection_name-button {
        padding: 5px;
        font-size: .8rem;
        margin: 0 5px;

    }
}