.login {
    position: relative;
    min-height: 40%;
    width: 100%;
    margin: auto 5px;
    padding: 1.2rem;
    background-color: rgb(193, 250, 187);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    border-radius: 10px;
    border: 1.5px solid #000;
    /* box-shadow: 2px 2px 2px 2px rgb(106, 132, 134); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 1.7rem;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.login__container-title {
    font-size: .8rem;
    margin-top: 20px;

}

.login-login {
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    font-size: 1.1rem;
}

.login-error-message {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: #cbbebe;
    width: 100%;
    padding: 10px 0;
}

.login-error-message--offscreen {
    position: absolute;
    left: -9999px;
}

.login-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: 50%;
    margin: 20px auto 0px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: rgb(127, 240, 134);
}

.login-button:active {
    background-color: rgb(22, 171, 81);
    color: #fff;
}

.login-close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 2.5rem;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.login__container-persist-title {
    font-size: .8rem;
    margin-left: 5px;
}