.user-menu {
    background-color: rgb(92, 201, 87);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.user-menu-link {
    /* margin: 20px 0px; */
    font-size: 1.8rem;
    color: #fff;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu-button:hover {
    color: red;
}

@media screen and (max-width: 300px) {

    .user-menu {
        height: 50px;
    }

    .user-menu-link {
        font-size: 1.3rem;

    }
}