.user_settings {
    position: relative;
    width: 95%;
    max-width: 100%;
    margin: auto 5px;
    background-color: rgb(193, 250, 187);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    border-radius: 10px;
    /* border: 1.5px solid #000; */
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_settings-link {
    width: 70%;
    text-decoration: none;
}

.user_settings-button {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: rgb(127, 240, 134);
    font-size: 1.2rem;
    cursor: pointer;
}

.user_settings-button:active {
    background-color: rgb(22, 171, 81);
    color: #fff;
}

.user_settings-close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 2.5rem;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

@media screen and (max-width: 360px) {

    .user_settings-button {
        font-size: 1rem;
        padding: 10px 0;
    }
}